@import "../../config";

.player {
  $shadow:
    0 0 20px -8px $dark;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 870px;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    left: 0;
    top: -96px;
    height: calc(100% + 21px);
    position: absolute;
    background-color: lighten($lightColor, 37%);
    z-index: -1;
  }

  .left {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
    width: 600px;

    .videoContainer {
      z-index: 2;
      box-shadow: $shadow;
      @include respond-to(md) {
        height: 400px !important;
      }
    }

    .info {
      width: 100%;
      height: 75px;
      background-color: transparent;
      position: relative;
      transition: all 0.6s;
      transform-style: preserve-3d;
      font-weight: 300;
      display: block;
      //top: 100%;
      z-index: 1;
      box-shadow: 0 0 20px -8px $dark;


      .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;

        display: flex;
        flex-direction: column;
      }
      .front {
        z-index: 2;
        width: 95%;
        padding: 0 0 0 5%;
        flex-direction: row;
        justify-content: space-between;
        height: 75px;
        letter-spacing: 1px;

        .content {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: 18px;
            margin: 5px 0;
          }
          .subtitle {
            font-size: 12px;
            opacity: .6;
          }
        }

        .btn {
          height: 100%;
          width: 75px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;
          transition: all .3s;

          i {
            margin: 0px;
          }
          span {
            font-size: 12px;
            opacity: 1;
            transition: all .3s;
            height: 14px;
          }
          &:before {
            content: "";
            width: 1px;
            border-radius: .5px;
            height: 70%;
            position: absolute;
            left: 0;
            top: 15%;
            opacity: .2;
            background-color: currentColor;
          }

          &:hover {
            span {
              color: transparent;
              height: 0;
            }
          }

        }
      }
      .back {
        top: 75px;
        width: 90%;
        padding: 0 5%;
        min-height: 75px;
        transform: translateY(-100%) rotateX(180deg);
        display: flex;
        justify-content: center;
        position: relative;
        white-space: pre-wrap;

        .content {
          font-size: 14px;
          opacity: .7;
          top: 0;
          padding: 20px 0;
          letter-spacing: .5px;
          line-height: 140%;
        }
      }
    }

    .flipper {
      transform: rotateX(180deg);
    }
  }

  .tie {
    position: relative;
    $w: 10px;
    $c: lighten($lightColor, 15%);
    $c_: lighten($mainColor, 15%);

    .t1 {
      width: $w;
      height: 100%;
      position: relative;
      background: linear-gradient(
          to bottom,
          white 0%,
          $c 100%
      );

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -$w * 1.2;
        left: 0;
        border: solid;
        border-width: $w/2*1.2 $w/2;
        border-color: $c $c transparent transparent;
      }
    }
    .t2 {
       width: $w;
       height: 20px;
       position: absolute;
       background-color: $c_;
      transform: rotateZ(-80deg);
      bottom: -19px;
      left: 16px;
      box-shadow: -1px 1px 2px -1px $dark;

       &:before {
         content: "";
         position: absolute;
         width: 0;
         height: 0;
         top: -$w * 1.2;
         left: 0;
         border: solid;
         border-width: $w/2*1.2 $w/2;
         border-color: transparent $c_ $c_ transparent;
       }
     }
  }
  .right {
    width: 240px;
    height: 100%;
    * {
      overflow: hidden;
      text-overflow: ellipsis
    }
  }

  @include pad {
    min-width: 0;
    position: relative;
    flex-direction: column;

    &:before {
      content: none;
    }
    .tie {
      display: none;
    }
    .left {
      width: 100%;
    }
    .right {
      &:before {
        content: "选择课程";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 80px;
        right: 0;
        top: 10px;
        background: white;
        z-index: 8;
        opacity: .8;
        position: absolute;
        writing-mode: vertical-rl;
        transition: all .3s;
        padding: 0 0 0 2px;
        border-radius: 5px 0 0 5px;
      }
      position: absolute;
      top: 0;
      width: 27px;
      height: 100px;
      overflow: hidden;
      right: 0;
      transition: all .3s;
      z-index: 2;
      ul {
        display: none;
      }
      &:hover {
        z-index: 2;
        right: 0;
        width: 200px;
        height: 100%;
        overflow: visible;
        &:before {
          right: 0;
          opacity: 0;
        }
        ul {
          display: block;
        }
      }
    }
  }

}
