@import "config";

::selection {
  background: $mainColor;
  color: white;
}

html, body {
  font-family: $font;
  margin: 0;
  width: 100%;
  color: $dark;
}

li {
  list-style: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  outline: none;
  color: $dark;
  transform: translateY(0px);

  &:hover {
    text-decoration: none;
    transform: translateY(2px);
    color: $lightColor !important;
  }

  transition: all .2s;
}

input, input:hover, input:focus, input:visited {
  outline: none;
}

textarea, textarea:hover, textarea:focus, textarea:visited {
  outline: none;
  resize:none;
}

.MJXc-display, .mjx-chtml, .MathJax_CHTML{
  outline:0;
}
