@import "../../components/config";

$rc: lighten($lightColor, 37.5%);

#account {
  background-color: $dark;
  display: block;
  top: 0;
  padding: 50px 50px 70px 50px;
  .paper {
    box-shadow: 0 0 20px 0 $dark;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;

    .back-home {
      $w: 50px;
      position: absolute;
      width: $w + 4px;
      height: $w + 4px;
      padding: 3px;
      background-color: $lightColor;
      top: 0;
      right: 0;
      overflow: hidden;
      text-align: right;
      color: white;
      transition: all .3s;
      cursor: pointer;

      span {
        position: absolute;
        z-index: 10;
        color: $mainColor;
        font-size: 13px;
        font-weight: 300;
        width: auto;
        right: 0;
        bottom: 32px;
        letter-spacing: 1px;
        opacity: 0;
        transition: all .3s;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: solid;
        transition: all .3s;
      }

      &:before {
        top: -35px;
        right: -35px;
        border-width: 50px;
        border-color: transparent transparent $rc $rc;
      }
      &:after {
        $rc: lighten($lightColor, 33%);
        top: 0;
        right: 0;
        border-width: 15px;
        box-shadow: 0 0 20px -6px $dark;
        border-color: transparent transparent $rc $rc;
      }
    }
    .back-home:hover {
      width: 50px;
      height: 50px;
      padding: 5px;
      span {
        right: 18px;
        bottom: 13px;
        opacity: 1;
      }
      &:before {
        top: -25px;
        right: -25px;
      }
      &:after {
        border-width: 25px;
        box-shadow: 0 0 20px -10px $dark;
      }
    }

    #account-logo-tie {
      position: absolute;
      bottom: -2.2%;
      right: 0;
    }
  }
}

#account-register, #account-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .left {
    height: 60%;
    padding-bottom: 25%;
    background: linear-gradient(
        to bottom,
        rgba(245, 225, 239, 100) 0%,
        rgba(245, 225, 239, 0) 100%
    );
    box-shadow: 8px -8px 20px -10px $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
      height: 100%;
      margin: 0;

      $right: 0px;
      letter-spacing: .4em;
      $bc: lighten($lightColor, 15%);
      h1 {
        margin: 60px $right 40px 0;
        width: 200px;
        text-align: center;
        font-size: 40px;
        @include respond-to(lg) {
          font-size: 48px;
        }
        position: relative;
        a {
          font-size: 20px;
          opacity: .6;
          cursor: pointer;
          &:after {
            content: "|";
            margin: 0 6px;
            color: $dark;
          }
        }
        &:after {
          content: "";
          position: absolute;
          width: .6rem;
          background-color: $bc;
          height: 25px;
          right: 15px;
          bottom: -30px;
          opacity: .8;
          transition: all .3s;
        }
      }

      div {
        margin: 0 $right + 27px 0 0;
        height: 11%;
        position: relative;
        font-size: 12px;
        @include respond-to(lg) {
          font-size: 15px;
          margin-right: $right + 30px;
        }
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        span:first-child {
          opacity: .6;
        }
        span:nth-last-child(2) {
          font-size: 15px;
          @include respond-to(lg) {
            font-size: 19px;
            font-weight: 300;
          }
          opacity: 1;
          margin-top: 2px;
        }
        .bar {
          position: absolute;
          display: inline-block;
          width: .6rem;
          height: 100%;
          right: -1em;
          top: -10px;
          opacity: .8;
          background-color: white;
          transition: all .3s;
        }
      }

      .been .bar {
        background-color: $bc;
      }
      .now .bar {
        background-color: $mainColor;
      }
    }
  }
  .right {
    flex-grow: 1;
    background-color: $rc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      z-index: 1;
    }
    .info {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 2px;
      font-family: sans-serif;
      margin-bottom: 15px;
    }

    .input {
      $s: 24px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      margin: 15px 0 30px 0;
      width: 100%;
      text-align: center;


      input {
        $w: 60%;
        font-size: $s;
        font-weight: 100;
        letter-spacing: 2px;
        padding: 10px 40px 10px 10px;
        width: $w;
      }
      .remove {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        color: lighten($dark, 40%);
        background-color: currentColor;
        opacity: .4;
        position: absolute;
        top: 16px;
        right: calc(-14px + 20%);
        transform: rotateZ(135deg);
        cursor: pointer;

        &:before {
          content: "";
          width: 2px;
          height: 10px;
          position: absolute;
          background-color: white;
          left: 9px;
          top: 5px;
        }
        &:after {
          content: "";
          width: 10px;
          height: 2px;
          position: absolute;
          background-color: white;
          top: 9px;
          left: 5px;
        }
        &:hover {
          animation: acpop .5s;
        }
        @keyframes acpop {
          0%, 100% {
            opacity: .4;
            width: 20px;
            height: 20px;
            top: 16px;
            right: calc(-14px + 20%);
          }
          30% {
            opacity: .6;
            width: 18px;
            height: 18px;
            top: 17px;
            right: calc(-13px + 20%);
          }
        }
      }
    }

    .next {
      color: white;
      background-color: $dark;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 4px;
      letter-spacing: 4px;
      cursor: pointer;
      &:hover {
        opacity: .6;
      }
      transition: opacity .3s;
    }
    .error {
      height: 43px;
      letter-spacing: 2px;
      p {
        margin: 3px;
      }
    }

    .slice {
      width: 80%;
      background-color: white;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      border-radius: 4px 4px 0 0;
      box-shadow: 0 10px 60px -30px $dark;
      padding: 50px 0;
      $bottomHeight: 40px;
      margin-bottom: $bottomHeight / 2;
      z-index: auto;
      div {
        z-index: 1;
      }

      .title {
        letter-spacing: 5px;
        div {
          padding: 2px 0;
        }
      }

      .form {
        margin-bottom: 10px;
        div {
          margin: 20px 0;
          font-size: 21px;
          font-weight: 300;
          letter-spacing: 2px;
          font-family: sans-serif;
          input {
            border-width: 0 0 2px 0;
            transition: all .3s;
            font-size: 21px;
            font-weight: 300;
            letter-spacing: 2px;
            font-family: sans-serif;
            padding: 0 5px;
            &:hover, &:focus {
              border-color: $dark;
            }
          }
        }
      }

      .login {
        border-radius: 4px;
        background-color: $dark;
        color: white;
        padding: 0 50px;
        line-height: 43px;
        display: flex;
        width: 50px;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          opacity: .6;
        }
        transition: all .3s;
      }
      .submitting {
        width: 70px;
        padding: 0 40px;
        cursor: not-allowed;
        opacity: .5;
      }

      &:after {
        $h: $bottomHeight;
        $c: white;
        content: "";
        position: absolute;
        width: 100%;
        height: $h;
        left: 0;
        bottom: -$h;
        background-image: linear-gradient(-135deg, $c 25%, transparent 25%, transparent), linear-gradient(-45deg, transparent 75%, $c 75%);
        background-size: 40px 40px;
        background-repeat: repeat-x;
        background-position: 0 100%;
      }
    }
  }
}

#account-login .left div h1:after {
  opacity: 0;
}
