@import "../config";

.account {
  background-color: $dark;
  display: block;
  top: 0;
  padding: 50px 50px 70px 50px;
  .paper {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;

    #account-logo-tie {
      position: absolute;
      bottom: -2.4%;
      right: 0;
    }
  }
}
