@import "../../config";

.account-register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .left {
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(245, 225, 239, 100) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 8px -8px 20px -10px $dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    $right: 50px;
    letter-spacing: .4em;
    $bc: lighten($lightColor, 15%);
    h1 {
      margin: 60px $right 40px 0;
      font-size: 50px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: .6rem;
        background-color: $bc;
        height: 25px;
        right: 12px;
        bottom: -30px;
        opacity: .8;
      }
    }

    div {
      margin: 0 $right + 27px 0 0;
      height: 60px;
      position: relative;
      font-size: 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      span:first-child {
        opacity: .6;
      }
      span:nth-last-child(2) {
        font-size: 20px;
        opacity: 1;
        margin-top: 2px;
      }
      .bar {
        position: absolute;
        display: inline-block;
        width: .6rem;
        height: 100%;
        right: -1em;
        top: -10px;
        opacity: .8;
        background-color: white;
        transition: all .3s;
      }
    }

    .been .bar {
      background-color: $bc;
    }
    .now .bar {
      background-color: $mainColor;
    }
  }
  .right {
    flex-grow: 1;
    background-color: lighten($lightColor, 37.5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 2px;
      font-family: sans-serif;
    }

    .input {
      $s: 24px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      margin: 30px 0;
      width: 100%;
      text-align: center;


      input {
        $w: 60%;
        font-size: $s;
        font-weight: 100;
        letter-spacing: 2px;
        padding: 10px 40px 10px 10px;
        width: $w;
      }
      .remove {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        color: lighten($dark, 40%);
        background-color: currentColor;
        opacity: .4;
        position: absolute;
        top: 16px;
        right: calc(-14px + 20%);
        transform: rotateZ(135deg);
        cursor: pointer;

        &:before {
          content: "";
          width: 2px;
          height: 10px;
          position: absolute;
          background-color: white;
          left: 9px;
          top: 5px;
        }
        &:after {
          content: "";
          width: 10px;
          height: 2px;
          position: absolute;
          background-color: white;
          top: 9px;
          left: 5px;
        }
        &:hover {
          animation: pop .5s;
        }
        @keyframes pop {
          0%, 100% {
            opacity: .4;
            width: 20px;
            height: 20px;
            top: 16px;
            right: calc(-14px + 20%);
          }
          30% {
            opacity: .6;
            width: 18px;
            height: 18px;
            top: 17px;
            right: calc(-13px + 20%);
          }
        }
      }
    }

    .next {
      color: white;
      background-color: $dark;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 4px;
      letter-spacing: 4px;
      cursor: pointer;
      &:hover {
        opacity: .6;
      }
      transition: opacity .3s;
    }
    .error {
      line-height: 43px;
    }
  }
}
