@import "../../config";


.test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: PingFangSC;
  $op: .4;


  .left {
    .box {
      width: 240px;
      border: 1px solid rgba(50, 17, 40, $op);
      text-align: center;
      display: flex;
      flex-direction: column;
      $out: 15%;
      margin: 0 0 0 35px;


      .result {
        cursor: pointer;

        .info {
          font-size: 18px;
          font-weight: 300;
          margin: 60px 0 5px 0;
          span {
            letter-spacing: 1px;
            line-height: 25px;
            &:last-child {
              display: block;
            }
          }
        }
        .date {
          background-color: $lightColor;
          color: white;
          display: inline-block;
          position: relative;
          margin: 10px 0;
          transition: all .3s;

          .val {
            display: inline-flex;
            font-size: 150px;
            font-weight: 500;
            line-height: 150px;
            padding: 0 20px 5px 10px;
          }
          .unit {
            display: inline-flex;
            position: absolute;
            font-size: 20px;
            font-weight: 300;
            right: 6px;
            bottom: 6px;
          }
        }
        .past {
          background-color: $dark;
        }
      }

      .divide {
        color: $dark;
        opacity: .6;
        margin: 25px 0;
        width: 100% + 2 * $out;
        left: -$out;
        letter-spacing: 1px;
      }

      .btn-box {
        color: $lightColor;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 2px;
        margin: 0 0 25px 0;
        &:hover .btn{
          opacity: .4;
        }

        .d {
          margin: 0 5px;
          opacity: .6;
        }

        .btn {
          cursor: pointer;
          transition: all .3s;
          line-height: 18px;
          text-align: center;
          opacity: .8;

          &:hover {
            font-size: 19px;
            letter-spacing: 1px;
            opacity: 1;
          }
        }
      }
    }
  }


  .right {
    margin: 0 0 0 100px;

    .subject {
      width: 100%;
      display: inline-block;
      text-align: center;
      border-radius: 4px;
      font-size: 32px;
      font-weight: 100;
      margin: 0 0 30px 0;
      &:last-child {
        margin: 0;
      }
      padding: 40px 0;
      color: rgb(126, 66, 107);
      background-color: white;
      box-shadow: rgba(145, 49, 117, .3) 0 0 25px -5px;
      transition: 0.3s all;
      position: relative;
      $bc: rgba(0, 0, 0, .4);
      &:hover {
        box-shadow: rgba(145, 49, 117, .1) 0 0 0 1px;
        input {
          border-color: $bc !important;
        }
      }

      .question {
        margin: 0 0 20px 0;
      }

      .answer {
        $s: 24px;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        width: 80%;
        i {
          margin: 0 15px;
        }

        input {
          font-size: $s;
          font-weight: 100;
          letter-spacing: 2px;
          padding: 10px 40px 10px 10px;
          width: calc(100% - 54px);
          border: 1px solid;
          border-color: transparent transparent black transparent;
          transition: all .3s;
          &:focus {
            border-color: $bc;
          }
        }
        .remove {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          color: lighten($dark, 40%);
          background-color: currentColor;
          opacity: .4;
          position: absolute;
          top: 16px;
          right: 14px;
          transform: rotateZ(135deg);
          cursor: pointer;

          &:before {
            content: "";
            width: 2px;
            height: 10px;
            position: absolute;
            background-color: white;
            left: 9px;
            top: 5px;
          }
          &:after {
            content: "";
            width: 10px;
            height: 2px;
            position: absolute;
            background-color: white;
            top: 9px;
            left: 5px;
          }
          &:hover {
            animation: pop .5s;
          }
          @keyframes pop {
            0%, 100% {
              opacity: .4;
              width: 20px;
              height: 20px;
              top: 16px;
              right: 14px;
            }
            30% {
              opacity: .6;
              width: 18px;
              height: 18px;
              top: 17px;
              right: 15px;
            }
          }
        }
      }
    }
  }

}
