@import "../../../components/config";

$rc: lighten($lightColor, 44%);

#account-register {
  color: $dark;
  height: 100%;
  padding: 5px 20px 45px 20px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .el-slider {
    width: 80%;
    margin: 30px auto 62px auto;
  }
  .title {
    font-family: $font !important;
    font-weight: 300;
    font-size: 32px;
    word-break: keep-all;
    text-align: center;
  }
  .form {
    margin: 30px 0 60px 0;

    & > div {
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      margin: 10px 0;
      letter-spacing: 2px;
      input {
        border-width: 0 0 1px 0;
        border-color: $mainColor;
        transition: all .3s;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 2px 10px;
        &:hover, &:focus {
          border-color: $lightColor;
        }
      }
    }
  }
  .bottom {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .error {
      width: 50%;
      margin-right: 5%;
      color: $lightColor;
    }
    .btn-box {
      width: 40%;
      min-width: 250px;
      display: flex;
      position: relative;
      margin-right: 5%;
      align-self: flex-end;

      div {
        border-radius: 5px;
        border: 1px solid currentColor;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 0 10px;
        margin: 0 10px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
          color: white;
          background: $mainColor;
        }
      }

      .to {
        color: $lightColor;
        background: white;
        letter-spacing: 2px;
        flex-grow: 1;
      }
      .next {
        color: white;
        background: $lightColor;
        flex-grow: 5;
        span {
          margin: 0 5px;
        }
      }

      .allowed {
        cursor: not-allowed;
        opacity: .5;
      }
    }
  }
}
