@import "../config";

.search {
  $s: 24px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 50px 0 30px 0;
  display: flex;
  font-size: $s;
  i {
    margin: 0 15px;
    align-self: center;
  }
  input {
    font-weight: 100;
    //width: 100%;
    letter-spacing: 2px;
    padding: 10px 40px 10px 10px;
    flex-grow: 1;
  }
  .remove {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: lighten($dark, 40%);
    background-color: currentColor;
    opacity: .4;
    position: absolute;
    top: 16px;
    right: 14px;
    transform: rotateZ(135deg);
    cursor: pointer;
    transition: all .3s;

    &:before {
      content: "";
      width: 2px;
      height: 10px;
      position: absolute;
      background-color: white;
      left: 9px;
      top: 5px;
    }
    &:after {
      content: "";
      width: 10px;
      height: 2px;
      position: absolute;
      background-color: white;
      top: 9px;
      left: 5px;
    }
    &:hover {
      animation: pop .5s;
    }
    @keyframes pop {
      0%, 100% {
        opacity: .4;
        width: 20px;
        height: 20px;
        top: 16px;
        right: 14px;
      }
      30% {
        opacity: .6;
        width: 18px;
        height: 18px;
        top: 17px;
        right: 15px;
      }
    }
  }
  @include mobile {
    margin: 25px 0 15px 0;
    $s: 16px;
    font-size: $s;
    i {
      font-size: 1em;
      margin: 0 10px;
    }
    input {
      //width: 200px;
      font-weight: 100;
      letter-spacing: 2px;
      padding: 5px 20px 5px 8px;
    }
    .remove {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      top: 8px;
      right: 8px;

      &:before {
        width: 2px;
        height: 8px;
        left: 7px;
        top: 4px;
      }
      &:after {
        width: 8px;
        height: 2px;
        top: 7px;
        left: 4px;
      }
      &:hover {
        animation: none;
      }
    }
  }
}
