@import 'config';

#course-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 870px;
  position: relative;
  margin-top: 15px;

  &:before {
    content: "";
    width: 100%;
    left: 0;
    //top: -96px;
    //height: calc(100% + 21px);
    height: 415px;
    top: -15px;
    position: absolute;
    background-color: rgba($lightColor, .08);
    z-index: -1;
  }


  .btn {
    height: 100%;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .3s;

    i {
      margin: 0;
    }
    span {
      font-size: $font-tiny;
      opacity: 1;
      transition: all .3s;
      height: 14px;
      user-select: none;
    }
    &:before {
      content: "";
      width: 1px;
      border-radius: .5px;
      height: 70%;
      position: absolute;
      left: 0;
      top: 15%;
      opacity: .2;
      background-color: currentColor;
    }

    &:hover {
      span {
        color: transparent;
        height: 0;
      }
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
    width: 600px;

    .videoContainer {
      z-index: 2;
      @include respond-to(md) {
        height: 400px !important;
      }
    }

    .info {
      width: 100%;
      background: white;
      font-weight: 300;
      display: flex;
      z-index: 1;
      flex-direction: row;
      justify-content: space-between;
      letter-spacing: 1px;
      box-sizing: border-box;
      border: 1px solid rgba($dark, .1);
      overflow: hidden;
    }
    .info-first {
      position: relative;
      height: 75px;
      transition: all .2s;

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        .title {
          font-size: $font-sm;
          margin: 5px 0 0;
        }
        .subtitle {
          font-size: $font-tiny;
          opacity: .6;
        }
      }

    }
    .info-last {
      padding: 5px 20px 20px;
      border-top: none;
      //position: absolute;
      //top: 400px;
      font-size: $font-xs;
      flex-direction: column;
      cursor: pointer;
      z-index: 2;
      h3 {
        margin: 25px 0 5px;
        &:empty {
          margin: 0;
        }
      }
      p {
        margin: 0;
      }
    }
    .info-hidden {
      height: 0 !important;
      opacity: 0;
    }
  }

  .tie {
    position: relative;
    $w: 10px;
    $c: lighten($lightColor, 15%);
    $c_: lighten($mainColor, 15%);

    .t1 {
      width: $w;
      height: 100%;
      position: relative;
      background: linear-gradient(
          to bottom,
          rgba(white, .5) 0%,
          $c 100%
      );

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -$w * 1.2;
        left: 0;
        border: solid;
        border-width: $w/2*1.2 $w/2;
        border-color: $c $c transparent transparent;
      }
    }
    .t2 {
      width: $w;
      height: 20px;
      position: absolute;
      background-color: $c_;
      transform: rotateZ(-80deg);
      bottom: -19px;
      left: 16px;
      box-shadow: -1px 1px 2px -1px $dark;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: -$w * 1.2;
        left: 0;
        border: solid;
        border-width: $w/2*1.2 $w/2;
        border-color: transparent $c_ $c_ transparent;
      }
    }
  }
  .right {
    width: 240px;
    height: 100%;
    border: solid rgba($dark, .1);
    border-width: 0 1px 1px 0;

    * {
      overflow: hidden;
      text-overflow: ellipsis
    }
    .fa-youtube-play {
      margin: -2px 8px 0 0;
    }
    .btn {
      display: none;
    }
  }

  @include pad {
    min-width: 0;
    margin-top: 0;
    position: relative;
    flex-direction: column;
    overflow: hidden;

    .btn {
      width: 60px;

      .fa-2x {
        font-size: 1.6em;
      }
      span {
        letter-spacing: 0;
        font-weight: 300;
        opacity: .8;
      }
    }
    &:before {
      content: none;
    }
    .tie {
      display: none;
    }
    .left {
      width: 100%;
      .info-first {
        height: 60px;
      }
      .info-last {
        order: 2;
        position: relative;
      }
      .btn {
        right: 60px;
      }
    }
    .right {
      border-width: 1px 0;
      transition: all .3s;
      padding-left: 60px;
      .btn {
        display: flex;
        position: absolute;
        background: white;
        z-index: 1;
        height: 59px;
        right: 60px;
        opacity: 1;
        transition: opacity .1s;
      }
      top: -60px;
      width: 60px;
      height: 58px;
      overflow: hidden;
      right: calc(61px - 100%);
      ul {
        display: none;
      }
      &:hover {
        .btn {
          opacity: 0;
          z-index: -1;
        }
        z-index: 2;
        right: 0;
        width: 100%;
        padding-left: 0;
        height: auto;
        min-height: 100%;
        box-sizing: border-box;
        overflow: visible;
        //&:before {
        //  right: 0;
        //  opacity: 0;
        //}
        ul {
          display: block;
        }
      }
    }
  }
}

#course-exercise {
  max-width: 920px;
  min-height: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;

  .mid {
    position: absolute;
    z-index: -1;
    opacity: .1;
    margin-top: 6px;
  }
  .select-box {
    $c: rgba($mainColor, .2);
    display: inline-block;
    box-shadow: 0 2px 18px -5px rgba($mainColor, 0.4);
    border-radius: 2px;
    transition: all .3s;
    $w: 20px;
    margin: 0 0 50px 0;
    cursor: pointer;
    font-size: $font-sm;

    .select {
      display: inline-block;
      background-color: white;
      position: relative;
      transition: all .3s;
      //opacity: .3;
      color: rgba($dark, .3);
      text-align: center;
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        display: inline-block;
        transition: all .3s;
      }
      &:hover {
        opacity: 1;
        color: white !important;
        background-color: $dark;
        &:before {
          border-color: $dark transparent;
        }
      }
    }
    .homework {
      padding: 5px $w - 4px 5px $w;
      margin-right: 4px;
      border-radius: 2px 0 0 2px;
      &:before {
        right: -8px;
        bottom: 0;
        border-right: 8px solid;
        border-bottom: 30px solid;
        border-color: white transparent;
      }
    }
    .test {
      padding: 5px $w 5px $w - 4px;
      border-radius: 0 2px 2px 0;
      &:before {
        left: -8px;
        top: 0;
        border-left: 8px solid;
        border-top: 30px solid;
        border-color: white transparent;
      }
    }
    .single {
      padding: 5px $w;
    }

    .selected {
      opacity: 1;
      background-color: $lightColor;
      color: white;
      &:before {
        border-color: $lightColor transparent;
      }
      &:hover {
        color: white !important;
        background-color: $lightColor;
        opacity: 1;
        &:before {
          border-color: $lightColor transparent;
        }
      }
    }
  }
  @include mobile {
    margin: auto;
    min-height: 251px;
    transform: translateY(-50px);
    .select-box {
      margin: 0 0 25px 0;
      //width: 100%;
    }
  }
}

#course-homework, #course-test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35px;
  box-sizing: border-box;
  $op: .4;
  width: 100%;

  .left {
    .box {
      width: 215px;
      border: 1px solid rgba($dark, $op);
      text-align: center;
      display: flex;
      flex-direction: column;
      $out: 15%;
      margin: auto;
      position: sticky;
      top: 50px;

      .count {

        .info {
          font-size: $font-sm;
          font-weight: 300;
          margin: 40px 0 5px 0;
          span {
            letter-spacing: 1px;
            line-height: 25px;
            &:last-child {
              display: block;
            }
          }
        }
        .date {
          background-color: $lightColor;
          color: white;
          display: inline-block;
          position: relative;
          margin: 10px 0;
          transition: all .3s;

          .val {
            display: inline-flex;
            font-size: 120px;
            font-weight: 500;
            line-height: 125px;
            padding: 0 15px 5px 10px;
          }
          .unit {
            display: inline-flex;
            position: absolute;
            font-size: $font-sm;
            font-weight: 300;
            right: 6px;
            bottom: 6px;
          }
        }
        .past {
          background-color: $dark;
        }
      }

      .divide {
        color: $dark;
        opacity: .6;
        margin: 15px 0;
        width: 100% + 2 * $out;
        left: -$out;
        letter-spacing: 1px;
      }

      .btn-box {
        color: $lightColor;
        font-weight: 400;
        font-size: $font-sm;
        letter-spacing: 2px;
        margin: 0 0 20px 0;
        &:hover .btn {
          //opacity: .4;
        }

        .d {
          margin: 0 5px;
          opacity: .6;
        }

        .btn {
          cursor: pointer;
          transition: all .3s;
          line-height: 18px;
          text-align: center;
          font-weight: 300;

          &:hover {
            font-weight: 400;
          }
        }
      }
    }
  }

  .right {
    margin: 0 0 0 35px;
    flex-grow: 1;

    .content {
      width: 100%;
      display: inline-block;
      border-radius: 4px;
      font-weight: 100;
      margin: 0 0 30px 0;
      &:last-child {
        margin: 0;
      }
      line-height: 1.3;
      font-size: 14px;
      color: rgba(black, .8);
      background-color: white;
      box-shadow: rgba(gray, .35) 0 0 20px -5px;
      transition: 0.3s all;
      position: relative;
      $bc: rgba(black, .4);
      &:hover {
        box-shadow: rgba(gray, .5) 0 0 20px -5px;
      }
    }
  }

  @include pad {

    flex-direction: column-reverse;
    padding: 0;
    .right {
      margin: 0 10%;
    }

    .left {
      transform: translateY(35px);
      margin: auto;
      .box {
        border: none;
        margin: auto;
        width: 100%;
        .count {
          .info {
            font-size: 30px;
            font-weight: 100;
            line-height: 50px;
            margin: 50px 0 15px 0;
          }
        }
        .btn-box {
          .btn {
            display: block;
            margin: 0 auto 10px;
            text-align: center;
            border-radius: 4px;
            background: $lightColor;
            color: white !important;
            line-height: 30px;
            font-size: $font-sm;
            width: 160px;
            opacity: 1 !important;
            &:after {
              content: none;
            }
            &:hover {
              color: rgba(white, .6) !important;
              background: $mainColor;
            }
          }
        }
      }
    }
  }

  @include mobile {
    .right {
      margin: 0;
    }
    .left {
      .box {

        .divide {
          width: 80%;
          left: 10%;

          .text {
            padding: 0;
          }
        }
        .result, .count {
          .info {
            font-size: 20px;
            line-height: 25px;
            margin: 30px 0 0 0;
          }
          .date {
            margin: 15px auto 10px;
            .val {
              font-size: 40px;
              line-height: 40px;
              padding: 3px 30px 3px 10px;
            }
          }
        }
      }
    }
  }

}


#course-homework {
  $op: .4;

  .left {
    cursor: pointer;
    .box .count .ddl span:last-child {
      letter-spacing: 3px;
    }
  }
  .right {

    .header {
      width: 100%;
      margin-bottom: 20px;
      //width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      flex-wrap: wrap;

      &:before {
        content: "";
        background-color: $dark;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 7px;
        opacity: $op;
      }
      .title {
        $p: 10px;
        left: 20px;
        font-size: $font-sm;
        position: relative;
        display: inline-block;
        letter-spacing: 2px;
        padding: 0 $p;
        background-color: white;

        .first {
          font-size: $font-lg;
        }
        .section {
          background-color: $dark;
          color: white;
          font-size: 12px;
          font-weight: 300;
          padding: 3px 6px;
          border-radius: 2px;
          position: absolute;
          right: $p;
          top: -5px;
          letter-spacing: 0;
          opacity: .5;
        }
      }

      .btn-box {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 5px 0 14px 30px;
        opacity: .8;

        .d {
          margin: 0 4px;
          opacity: .6;
        }

        .btn {
          cursor: pointer;
          transition: all .3s;
          text-align: center;
          opacity: .6;

          &:hover {
            color: $lightColor;
            opacity: 1;
          }
        }
      }
    }

    .content {
      padding: 35px;
      box-sizing: border-box;
      font-size: $font-xs;
      p {
        font-weight: 300;
        opacity: .8;
        white-space: pre-wrap;
        line-height: 1.4;
        letter-spacing: 1px;
        margin: 15px 0 0 0;
      }
    }
  }


  @include pad {
    .left .box .btn-box .d {
      display: none;
    }
  }
  @include mobile {
    .right {
      .header {
        &:before {
          content: none;
        }
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        .btn-box {
          padding-bottom: 6px;
          padding-right: 30px;
        }
        .title {
          letter-spacing: 1px;
          left: 0;
          .first {
            font-size: $font-md;
          }
        }
      }
      .content {
        padding: 0 20px 20px;
        box-shadow: rgba($mainColor, .25) 0 5px 10px -5px !important;
      }
    }
  }
}


#course-test {

  .left {
    width: 215px;
    transition: all .3s;
    .box {
      transition: all .3s;
    }
  }

  .center {
    width: 100%;
    .box {
      margin: 0 auto;
    }
  }

  .right {
    .content {
      font-weight: 300;
      line-height: 1.3;
      font-size: $font-md;
      padding: 40px;
      box-sizing: border-box;

      .desc {
        margin-bottom: 10px;
      }
      .el-radio, .el-checkbox {
        font-weight: 300;
        margin-left: 16px;
        width: 100%;
        line-height: 1.3;
      }
      .el-radio__label, .el-checkbox__label {
        font-size: $font-sm;
      }
      .is-disabled.is-checked span {
        color: $mainColor;
        font-weight: 400;
      }
      .is-disabled input{
        color: $mainColor;
      }

    }
  }


  @include mobile {
    margin: -25px 0;

    .left {
      transform: translateY(15px);
      width: auto;
    }

    .right {
      &:empty {
        display: none;
      }
      .content {
        margin: 0;
        box-shadow: rgba(128, 128, 128, 0.25) 0 0px 0 1px;
        border-radius: 0;
        padding: 25px;
        font-size: $font-sm;


        .el-radio__label, .el-checkbox__label {
          font-size: $font-xs;
        }
      }
    }
  }
}
