@import "config";

.videoContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .centeredVideo {
    background-color: darken($dark, 10%);
  }
}

.noVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 2px;
  background: mix(black, mix(black, $mainColor));
  color: rgba(white, .7);
  opacity: 1;
  transform: translateY(0);
  text-align: center;
  transition: all .3s;

  img {
    width: 100%;
  }
}

video::-internal-media-controls-download-button {display:none;}
video::-webkit-media-controls {overflow: hidden !important}
video::-webkit-media-controls-enclosure {
  margin-left: 32px;
  width: calc(100% + 32px);
}
