@import "config";

#manage {
  max-width: 920px;
  margin: auto;

  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  color: $dark;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;

  .manage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
  }

  .el-card {
    box-shadow: 0px 0px 6px 0px rgba(black, .15);
    transition: all .2s;
    cursor: pointer;
    text-align: left;
    border: hidden;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 4px 0px rgba(black, .2), 0px 0px 6px 0px rgba(black, .08);
    }
  }

  .types {
    display: flex;
    justify-content: center;
  }

  .type {
    width: 27%;
    font-size: 18px;
    margin: 50px;

    .el-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      opacity: .8;

      i {
        font-size: 100px;
        opacity: .6;
        margin: 60px 0 20px 0;
      }
      div {
        margin-bottom: 30px;
        opacity: .8;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

}

#manage-course, #manage-afterclass {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 920px;
  align-items: flex-start;
  .left {
    width: 200px;
    background: $lightColor;
    color: white;
    $left: 0.15;
    padding: 40px 0;
    flex-basis: auto;
    flex-shrink: 0;
    z-index: 1;
    position: sticky;
    top: 0;

    h1 {
      font-weight: 300;
      font-size: 22px;
      letter-spacing: 3px;
      width: 100%;
      color: $mainColor;
      background: white;
      text-align: center;
      line-height: 1.8;
      border-radius: 2px;
      box-shadow: 0 0 10px -3px $mainColor, -200px * $left - 8px 0 0 -8px rgba(black, .2);
      transform: translateX($left * 100%);
      transition: .2s all;
      word-break: keep-all;
      margin-bottom: 40px;
      cursor: pointer;
      &:before {
        font-size: 12px;
        padding: 9px;
        box-sizing: border-box;
        width: 35px;
        color: $light;
        height: 100%;
        left: -200px * $left;
        //background: green;
        position: absolute;
        transition: .2s all;
      }
      &:after {
        content: attr(data-text);
      }

      &:hover {
        box-shadow: 0 0 10px -3px transparent, 0 0 0 -8px rgba(black, .2);
        border-radius: 0;
        background: rgba(black, .2);
        color: $light;
        transform: translateX(0);

        &:before {
          opacity: 0;
        }
        &:after {
          content: attr(data-text-hover);
        }
      }
    }
    a {
      margin: 20px 0 20px $left * 100%;
      display: block;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 2px;
      color: white !important;
      cursor: pointer;
    }
  }
  .right {
    box-shadow: 5px 0 10px -8px lightgray, -5px 0 10px -8px lightgray;
    flex-grow: 1;
    align-self: stretch;
    margin-bottom: 40px;
    position: relative;

    .filter {
      width: 80%;
      margin: 20px 10%;
    }
    .none {
      text-align: left;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }
}

#courses {
  text-align: center;
  .cardBox {
    margin: 16px 0;
  }
  .cards {
    width: 80%;
    margin: 0 10%;
  }
  .el-card {
    width: 270px;

    .img {
      position: relative;
      width: 100%;
      height: 151.875px;
      overflow: hidden;

      img {
        min-height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
      }
    }
    .detail {
      padding: 10px 14px;
      font-weight: 300;
      .title {
        font-size: 16px;
        line-height: 30px;
      }
      .subtitle {
        font-size: 12px;
        opacity: .6;
      }
    }
  }
}

#course, #chapter {
  .el-upload {
    width: 200px;
    height: 112.5px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid rgba($mainColor, .3);

    img {
      width: 100%;
      min-height: 100%;
    }
    i {
      font-size: 28px;
      opacity: .4;
      line-height: 112.5px;
      text-align: center;
    }
  }
}

#course, #chapter, #unit, #homework, #test {
  .el-form {
    width: 80%;
    margin: 30px 10%;
  }
  .el-form-item {
    margin-bottom: 20px;
  }
  .el-form-item__content {

    .filter {
      width: 100%;
      margin-left: 0;
    }
  }
  .save {
    position: relative;
  }
  .divide {
    position: relative;
    width: 120%;
    left: -10%;
    margin: 50px 0;
    border: 1.5px dashed rgba($dark, .1);
  }
  .cardBox {
    width: 47%;
    margin: 16px 0;
    box-sizing: border-box;
    i {
      color: rgba($dark, .4);
    }
    &:hover {
      i:before {
        content: '修改';
        color: $lightColor;
      }
    }
  }
    .el-card__body {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

#manage-afterclass {
  .assistant {
    .el-input {
      width: auto;
    }
    .el-tag {
      margin-right: 5px;
    }
    .el-button, input {
      font-weight: 300;
    }
    .el-button {
      height: 32px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .el-input {
      width: 140px;
      vertical-align: bottom;
    }
  }

  .unsubmit {
    display: inline-table;
    width: 280px;
    &:last-child {
      float: right;
    }
  }

  .changeChapter {
    .title {
      font-size: 22px;
      margin: 15px 0 18px;
    }
    .subtitle {
      font-size: 13px;
      line-height: 18px;
      opacity: .8;
      position: relative;
      letter-spacing: 1px;
    }
    .light {
      color: $lightColor;
    }
    .dark {
      color: $dark;
    }
    .dim {
      color: rgba($dark, .6);
    }
    .right {
      position: absolute;
      right: 0;
    }
    .el-card {
      color: rgb(229, 211, 209);
      cursor: auto;
      &:hover {
        transform: none;
      }
      .el-button {
        width: 100%;
        margin: 0;
        border-radius: 0;
        border-width: 0;
        font-weight: 300;
        transition: all .2s;
        &:first-child {
          margin-right: .5px;
        }
        &:last-child {
          margin-left: .5px;
        }
      }
    }
  }
}

#test {
  .question {
    .el-card {
      overflow: visible;
      margin: 20px 0;
      cursor: default;
      position: relative;
      transform: translateY(0);

      &:hover {
        transform: none;
        .el-card__header {
          opacity: 1;
        }
      }
    }
    .el-card__body {
      flex-direction: column;
      padding: 20px 25px;
    }
    .el-card__header {
      border-bottom: none;
      position: absolute;
      transform: rotateZ(90deg);
      right: -97px;
      top: 34px;
      opacity: 0;
      transition: all .2s;

      .el-button {
        padding: 7px 10px;
      }
    }

    .flex {
      display: flex;
      width: 100%;
      align-items: baseline;
      margin: 5px;
    }
    .click-input {
      width: 100%;
    }
    .text {
      letter-spacing: 1px;
      width: 50px;
      flex-shrink: 0;
    }
    .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: baseline;
      .el-button {
        margin: 15px 0 5px;
      }
      .click-input {
        width: 452px;
      }
    }
    .el-radio-group, .el-checkbox-group {
      width: 100%;
      padding-right: 25px;
      box-sizing: border-box;
    }
    .el-radio, .el-checkbox {
      margin: 0;
      display: block;
      width: 100%;
    }
    .el-input {
      display: inline-block;
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: all .2s
}
.fade-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-6px);
}


.fader-enter-active, .fader-leave-active {
  transition: all .2s
}
.fader-enter-active {
  top: 0;
  left: 0;
  width: 100%;
}
.fader-enter, .fader-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}
