@import "../../config";


.homework {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: PingFangSC;
  $op: .4;

  .left {
    .box {
      width: 240px;
      border: 1px solid rgba(50, 17, 40, $op);
      text-align: center;
      display: flex;
      flex-direction: column;
      $out: 15%;
      margin: 0 0 0 35px;

      .count {

        .ddl {
          font-size: 18px;
          font-weight: 300;
          margin: 60px 0 5px 0;
          cursor: pointer;
          span {
            letter-spacing: 1px;
            line-height: 25px;
            &:last-child {
              display: block;
              letter-spacing: 3px;
            }
          }
        }
        .date {
          background-color: $lightColor;
          color: white;
          display: inline-block;
          position: relative;
          margin: 10px 0;
          transition: all .3s;
          z-index: -1;

          .val {
            display: inline-flex;
            font-size: 150px;
            font-weight: 500;
            line-height: 150px;
            padding: 0 20px 5px 10px;
          }
          .unit {
            display: inline-flex;
            position: absolute;
            font-size: 20px;
            font-weight: 300;
            right: 6px;
            bottom: 6px;
          }
        }
        .past {
          background-color: $dark;
        }
      }

      .divide {
        color: $dark;
        opacity: .6;
        margin: 25px 0;
        width: 100% + 2 * $out;
        left: -$out;
        letter-spacing: 1px;
      }

      .btn-box {
        color: $lightColor;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 2px;
        margin: 0 0 25px 0;
        &:hover .btn{
          opacity: .4;
        }

        .d {
          margin: 0 5px;
          opacity: .6;
        }

        .btn {
          cursor: pointer;
          transition: all .3s;
          line-height: 18px;
          text-align: center;
          opacity: .8;

          &:hover {
            font-size: 19px;
            letter-spacing: 1px;
            opacity: 1;
          }
        }
      }
    }

  }
  .right {
    margin: 0 0 0 100px;

    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;

      &:before {
        content: "";
        background-color: $dark;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 7px;
        opacity: $op;
      }
      .title {
        $p: 10px;
        font-size: 18px;
        position: relative;
        display: inline-block;
        letter-spacing: 2px;
        padding: 0 $p 0 0;
        background-color: white;

        .first {
          font-size: 36px;
        }
        .section {
          background-color: $dark;
          color: white;
          font-size: 12px;
          font-weight: 300;
          display: inline-flex;
          padding: 3px 6px;
          border-radius: 2px;
          position: absolute;
          right: $p;
          top: -5px;
          letter-spacing: 0;
        }
      }

      .btn-box {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        padding-bottom: 14px;
        opacity: .8;

        .d {
          margin: 0 4px;
          opacity: .6;
        }

        .btn {
          cursor: pointer;
          transition: all .3s;
          text-align: center;
          opacity: .6;

          &:hover {
            color: $lightColor;
            opacity: 1;
          }
        }
      }
    }

    .content {
      padding: 5px;
      p {
        font-size: 14px;
        font-weight: 300;
        opacity: .8;
        white-space: pre-wrap;
        line-height: 20px;
        letter-spacing: 1px;
        margin: 15px 0 0 0;
      }
    }
  }
}
