@import "../../config";


.homework {
  $op: .4;

  .left .box .count .ddl span:last-child {
    letter-spacing: 3px;
  }
  .right {

    .header {
      width: 100%;
      margin-bottom: 20px;
      //width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      flex-wrap: wrap;

      &:before {
        content: "";
        background-color: $dark;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 7px;
        opacity: $op;
      }
      .title {
        $p: 10px;
        left: 20px;
        font-size: 18px;
        position: relative;
        display: inline-block;
        letter-spacing: 2px;
        padding: 0 $p;
        background-color: white;

        .first {
          font-size: 36px;
        }
        .section {
          background-color: $dark;
          color: white;
          font-size: 12px;
          font-weight: 300;
          display: inline-flex;
          padding: 3px 6px;
          border-radius: 2px;
          position: absolute;
          right: $p;
          top: -5px;
          letter-spacing: 0;
          opacity: .5;
        }
      }

      .btn-box {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 5px 0 14px 30px;
        opacity: .8;

        .d {
          margin: 0 4px;
          opacity: .6;
        }

        .btn {
          cursor: pointer;
          transition: all .3s;
          text-align: center;
          opacity: .6;

          &:hover {
            color: $lightColor;
            opacity: 1;
          }
        }
      }
    }

    .content {
      padding: 30px 30px;
      box-sizing: border-box;
      font-size: 16px;
      p {
        font-weight: 300;
        opacity: .8;
        white-space: pre-wrap;
        line-height: 1.4;
        letter-spacing: 1px;
        margin: 15px 0 0 0;
      }
    }
  }

  @include mobile {
    .right {
      .header {
        &:before {
          content: none;
        }
        .btn-box {
          padding-bottom: 6px;
          padding-right: 30px;
        }
      }
      .content {
        box-shadow: rgba($mainColor, .25) 0 0 25px -5px !important;
      }
    }
  }
}
