/* General Demo Style */
@import url(http://fonts.useso.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'AnimalsNormal';
    src: url('fonts/animals-webfont.eot');
    src: url('fonts/animals-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/animals-webfont.woff') format('woff'),
         url('fonts/animals-webfont.ttf') format('truetype'),
         url('fonts/animals-webfont.svg#AnimalsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	padding: 0;
	width: 100%;
	position: relative;
}

.container.demo-1 {
	height: 100%;
	position: absolute;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.header-top {
	height: 64px;
	background-color: #f00;
	top: 0;
	position: fixed !important;
}

.container > header,
.footer {
	padding: 50px 10% 0 10%;
	width: 100%;
	margin: 0;
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 20px -3px #000;
	z-index: 20;
}

.container > header {
	position: absolute;
	padding: 4px 10%;
	opacity: 0.9;
	height: 64px;
}

.footer {
	background: #883d59;
	padding: 40px 10% 20px 10%;
	color: #fff;
	z-index: 1;
}

.content-wrapper {
	width: 100%;
	margin: 0;
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 20px -3px #000;
	z-index: 10;
}

.content-wrapper > div {
	padding: 50px 10%;
	line-height: 26px;
}

.container > header h1,
.logo-box h1 {
	font-size: 23px;
	line-height: 28px;
	margin: 4px 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span,
.logo-box h1 span {
	display: block;
	font-size: 18px;
	font-weight: 800;
	background-color: #883d59;
    color: #fff;
    line-height: 1.2;
	text-align: center;
}

.logo {
	display: inline-block;
	float: left;
	text-align: center;
	width: 56px;
	height: 56px;
	background: #302;
	color: #fff;
	font-size: 50px;
	overflow: hidden;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 10;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 6px;
	font-size: 20px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
	margin-right: 0;
    border-bottom: 4px solid transparent;
	transition: all 0.2s;
}

.codrops-demos a:hover {
	color: #883d59;
	border-color: #883d59;
}


.top-label {
	display: inline-block;
    font-size: 18px;
    margin-top: 21px;
    margin-left: 10px;
    font-weight: bold;
} 
.top-label a {
	margin-left: 10px;
}

ul {
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 10px;
	padding: 0px;
	list-style: none;
	opacity: 0.5;
	font-weight: bold;
}

ul li {
	display: inline-block;
}

ul li:after {
	content: "|";
	margin: 10px;
}

ul li:last-child:after {
	content: none;
}

.logo-box {
	height: 64px;
	width: auto;
	display: inline-block;
}

.logo-box h1 {
	color: #fff;
	opacity: 0.8;
}

.logo-box .logo {
	background-color: #fff;
	color: #883d59;
	opacity: 0.5;
}

.logo-box h1 span {
	background-color: #fff;
	color: #883d59;
}

.content-wrapper > div:nth-child(2n) {
	background-color: #ffeef3;
}

.law-information {
	display: inline-block;
	float: right;
	text-align: right;
	right: 10%;
	margin-top: 22px;
	padding-bottom: 25px;
	font-size: 14px;
	letter-spacing: 1px;
	opacity: 0.5;
	font-weight: bold;
}
.school {
	position: relative;
}

.school:before {
    content: "同济大学软件学院";
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0px;
	background-color: #883d59;
    width: 100%;
    right: 0;
	opacity: 0;
	transition: all 0.2s;
}

.footer:hover .school:before {
	opacity: 1;
}

.divide {
	width: 100%;
	height: 2px;
	margin-top: 10px;

	background-color: #fff;
	opacity: 0.3;
}

.course-detail {
	width: 240px;
	height: 160px;
	display: inline-block;
	max-width: 100%;
	margin: 10px 10px 10px 0;
	border-radius: 6px;
	border: #eae0e8 1px solid;
	overflow: hidden;
	position: relative;
}

.course-detail img {
	height: 100%;
	min-width: 100%;
	position: relative;
}

.course-detail h2 {
	width: 100%;
	padding: 0 10%;
	height: 33px;
	position: absolute;
	text-align: left;
	color: #302;
	background-color: #fff;
	line-height: 1.5;
	opacity: 0.7;
	bottom: 0;
	transition: all 0.3s;
}

.course-detail:hover h2 {
	height: 100%;
	line-height: 3.5;
	opacity: 0.8;
}

.course-detail h2:after {
	content: "";
	width: 80%;
	height: 2px;
	top: 60px;
	left: 10%;
	opacity: 0.4;
	background-color: currentColor;
	position: absolute;
}
.course-detail .desc {
	width: 80%;
	left: 10%;
	top: 262px;
	height: 84px;
	padding-top: 10px;
	position: absolute;
	text-align: left;
	color: #302;
	line-height: 1.5;
	opacity: 0.6;
	bottom: 0;
	overflow-y: scroll;
	transition: all 0.3s;
}

.course-detail:hover .desc {
	top: 62px;
}

.login:before {
	content: "";
	height: 600px;
	width: 100%;
	background: url(../images/2.jpg) no-repeat fixed top;
	background-size: cover;
	position: fixed;
	z-index: -1;
	filter: blur(5px);
}

.login {
	height: 600px;
	padding-top: 96px;
	background-color: rgba(255, 255, 255, 0.6);
}
