@import "../config";
.slide {
  position: relative;
  height: 640px;
  .img {
    position: absolute;
    width: 100%;
    .background {
      display: block;
      position: absolute;
      height: 630px;
      opacity: .1;
      top: -100px;
      z-index: -1;
      left: 0;
      width: 100%;
      transition: all .5s;
      $c: lighten($lightColor, 0%);
      background-color: $c;
      box-shadow: $c 0 30px 30px 0;

    }
    .descImg {
      width: 60%;
      height: 400px;
      overflow: hidden;
      right: 0;
      position: absolute;
      top: 60px;
      border-radius: 4px;
      opacity: .7;
      z-index: -2;
      img {
        filter: grayscale(.3);
        width: 100%;
        min-height: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 500px;
      width: 60%;
      margin: 0 0 0 10.5%;


      h1, div {
        color: #000;
        opacity: 0.8;
        font-weight: 300;
        font: $font;
      }
      h1 {
        font-size: 100px;
        margin: 15px 0 20px 0;
        letter-spacing: 10px;
        display: inline-block;
        width: 100%;
        text-align: center;
        position: relative;
        background-color: white;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background-color: currentColor;
          width: 1px;
          height: 200px;
        }
        &:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: currentColor;
          width: 1px;
          height: 200px;
        }
      }
      .detail {
        align-self: flex-end;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 15px;

        div {
          font-size: 20px;
          letter-spacing: 2px;
          margin: 5px 0;
        }
      }
      .btn {
        display: inline-flex;
        position: relative;
        background-color: currentColor;
        color: $lightColor !important;
        cursor: pointer;
        font-size: 32px;
        margin: 5px 15px;
        div {
          background-color: white;
          padding: 8px 24px;
          color: black;
          opacity: 0.9;
          border: black solid;
          border-width: 0 0 1px 1px;
          &:hover {
            color: white;
            background-color: black;
          }
          transition: all .5s;
        }
        transition: all .5s;

        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 100%;
          bottom: 1px;
          left: 1px;
          display: inline-block;
          border-right: 12px solid transparent;
          border-bottom: 52px solid currentColor;
          transition: all .3s;
          z-index: 1;
        }
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 100%;
          top: 0;
          right: 0;
          display: inline-block;
          border-left: 14px solid transparent;
          border-top: 0 solid currentColor;
          transition: all .3s;
        }
        &:hover {
          &:before {
            border-right-width: 0;
          }
          &:after {
            border-top-width: 53px;
          }
        }
      }
    }
    }

  .tip-box {
    width: 100%;
    position: absolute;
    left: 0;
    top: 474px;
    overflow-x: scroll;

    .scroll {
      min-width: 1000px;
      max-width: 1200px;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      text-align: left;
      .tip {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        width: 180px;
        background-color: white;
        padding: 20px;
        box-shadow: rgba($mainColor, .3) 0px 2px 20px -5px;
        border-radius: 4px;
        position: relative;
        transition: all .5s;
        &:hover {
          opacity: 1 !important;
        }

        h1 {
          margin: 15px 0;
          font-weight: 300;
        }
        p {
          margin: 0;
        }
        .color-bar {
          $w: 100%;
          background-color: $lightColor !important;
          position: absolute;
          width: $w;
          bottom: 0;
          left: 0;
          height: 5px;
          animation: wideAni 5s linear;
          border-radius: 0 0 4px 4px;
          @keyframes wideAni {
            0% {width: 0; border-radius: 0 0 0 4px;}
            100% {width: $w; border-radius: 0 0 4px 4px;}
          }
        }
      }
    }
  }

  @include mobile {
    $h: 230px;
    height: $h;
    .img {
      .background {
        height: $h + 130px;
        opacity: .05;
      }
      .descImg {
        width: 100%;
        height: $h;
        border-radius: 0;
        opacity: .2;
        top: 0;
      }
      .text {
        min-width: 0;
        width: 80%;
        margin-top: 28px;
        h1 {
          font-size: 40px;
          line-height: 50px;
          letter-spacing: 5px;
          margin: 5px auto 10px auto;
          &:before {
            height: 110px;
          }
          &:after {
             height: 110px;
           }
        }
        .detail {
          div {
            margin: 2px 0;
          }
          .teacher, .time {
            font-size: 18px;
          }
        }
        .btn {
          font-size: 20px;
          &:before {
            border-width: 0 10px 40px 0;
          }
          &:after {
            border-width: 0 0 0 10px;
          }
          &:hover {
            &:after {
              border-top-width: 40px;
            }
          }
        }
      }
    }
    .tip-box {
      top: 205px;
      .scroll {
        min-width: 0;
        max-width: 80%;
        margin: auto;
        opacity: .8;
        .tip {
          flex-direction: row;
          justify-content: space-around;
          align-items: baseline;
          height: 4px;
          padding: 0;
          margin: 0 5px;
          overflow: hidden;

          h1, p {
            display: none;
          }
          .color-bar {
            height: 4px;
            border-radius: 0 !important;
            @keyframes wideAni {
              0% {width: 0; border-radius: 0;}
              100% {width: 100%; border-radius: 0;}
            }
          }
          //h1 {
          //  font-size: 14px;
          //  margin: 0;
          //  display: inline;
          //  line-height: 0;
          //}
          //p {
          //  line-height: 0;
          //  font-size: 10px;
          //  display: inline;
          //}
        }
      }
    }
  }
}

::-webkit-scrollbar
{
  display: none;
}
