//$mainColor: #913175;
//$subColor: #07689f;
//$lightColor: #dd5b82;

$mainColor: #973444;
$subColor: #07689f;
$lightColor: #c35655;

$dark: darken($mainColor, 25%);
$font: PingFangSC;
//$font: PingFangSC,fzltxh,NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;

$breakpoints: (
  'xs': 'only screen and ( min-width: 480px)',
  'sm': 'only screen and ( min-width: 768px)',
  'md': 'only screen and ( min-width: 992px)',
  'lg': 'only screen and ( min-width: 1200px)',
) !default;

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}


@mixin mobile {
  @media only screen and ( max-width: 480px) {
    @content;
  }
}


@mixin pad {
  @media only screen and ( max-width: 992px) {
    @content;
  }
}
